<header class="other-header">
	
	<section class = "row">
	
	<div class="grid">
	
		<section class="contact col-2-3">
	
			<div>
			</div>	
	
		</section><!--

		About Me

		--><section class="contact col-1-3">
	
			<a href="/">home</a>
	
		</section>

	</div>

	</section>


</header>

<!-- Content -->

	<section class = "row">
	
		<div class="grid">
	
			<form action='/' method='POST'class="form col-2-3">
	
				<fieldset class="contactme">
				
					<label>
						<input type="text" name="name" placeholder="name">
					</label>
					<label>
						<input type="text" name="email" placeholder="e-mail address">
					</label>
					<label>
						<input type="text" name="message box" placeholder="message">
					</label>	
				</fieldset>	
	
			</form><!--

			button

			--><div class="form col-1-3">
	
				<a href="/" class="submit-btn">submit</a>
	
			</div>

		</div>

	</section>


<!-- Footer -->

<footer class="footer">

	<div>
		<small>&copy; lindseylabs</small>
	</div>

</footer>
