/*
  ========================================
  Custom styles
  ========================================
*/

body {
  background: #FFFFFF;
  color: #888;
  font: 300 16px/22px;
  max-height: 853px;
  overflow: hidden;
}

div.horses {
  background-image: url(http://40.media.tumblr.com/4c538902bd4e0aa2b6fd5a1f41701967/tumblr_nijr2pTY131qfogg1o3_1280.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
}

.other-header {
  width: 100%;
  height: 225px;
  background: rgba(206, 203, 215, .8);
  text-transform: uppercase;
}


.contact a {
  padding-top: 195px;
  display: inline-block;
}

.contactme {
  background: #FFFFFF;
  border: 10px solid rgba(206, 203, 215, .8);
  margin-top: -50px;
}

.contactme label {
  display: block;
}

input,
select,
textarea {
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.contactme label {
  color: #648880;
  cursor: pointer;
  font-weight: 400;
}
.contactme input,
.contactme select,
.contactme textarea {
  border: 0px solid #c6c9cc;
  color: #888;
  display: block;
  margin: 5px 0 27px 0;
  padding: 5px 8px;
}
.contactme input,
.contactme textarea {
  width: 100%;
}
.contactme select {
  height: 34px;
  width: 60px;
}

.submit-btn {
  text-decoration: none;
  display: block;
  height: 100px;
  width: 175px;
  background-color: rgb(206, 203, 215);
  text-align: center;
  padding-top: 40px;
  position: relative;
  top: 52px;
  text-transform: uppercase;
}

.submit-btn:hover {
  background-color: #D4D8E3;
}